@font-face {
	font-family: 'dancing script';
	src: url('/public/font/DancingScript.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'dancing script', sans-serif;
	font-weight: normal;
	font-style: normal;
	font-size: 3rem;
}
:root {
	--border-radius: 0.5rem;
}
html {
	scroll-behavior: smooth;
}
a.button {
	background-color: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(5px);
	color: white;
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
	text-decoration: none;
	outline: 1px solid white;
}

a.button:hover {
	text-decoration: underline;
	outline: 2px solid white;
}

body {
	font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
	scroll-behavior: smooth;
}

section {
	scroll-margin-top: 7em;
	width: min(90%, 800px);
	margin: 0 auto;
	position: relative;
}

table {
	border-collapse: collapse;
	text-align: center;
	margin-bottom: 2rem;
}
tr {
	border-bottom: 1px solid black;
}
td {
	padding: 0.5rem;
}

.section-flower {
	max-width: 200px;
}

/* support animation-timeline */
@supports (animation-timeline: view()) {
	.parallax {
		animation: parallax-banner 1s linear both;
		animation-timeline: view();
		animation-range-start: cover;
		object-fit: cover;
		/* object-position: bottom; */
	}

	@keyframes parallax-banner {
		0% {
			/* transform: translateY(0); */
			object-position: 0;
			/* scale: 1; */
		}
		100% {
			/* scale: 1.2; */
			object-position: 0 0%;
		}
	}

	.fade-in {
		animation: fade-in 1s ease-in-out both;
		animation-timeline: view();
		animation-range-start: cover;
		animation-range-end: 500px;
	}

	@keyframes fade-in {
		0% {
			scale: 0.8;
			opacity: 0;
		}
		100% {
			scale: 1;
			opacity: 1;
		}
	}

	.scroll-reveal {
		display: inline;
		color: hsl(0 0% 0% / 0.2);
		background-clip: text;
		background-image: linear-gradient(black, black);
		background-size: 0% 100%;
		background-repeat: no-repeat;
		background-size: 100% 100%;
		/* animation: scroll-reveal linear forwards;
		animation-timeline: view();
		animation-range-start: cover;
		animation-range-end: 300px; */
	}

	/* @keyframes scroll-reveal {
		to {
			background-size: 100% 100%;
		}
	} */
}

header {
	position: sticky;
	z-index: 2;
	top: 0;
	width: 100%;

	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

header nav ul {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	gap: 1.5rem;
}

header nav ul li {
	list-style: none;
}

.header-image {
	width: 200px;
}

.header-link {
	text-decoration: none;
	color: #000;
}

.header-link:hover {
	text-decoration: underline;
}

.header-heart {
	/* fill: url(#header-shape-gradient) #fff; */
	fill: pink;
}

#header-shape-gradient {
	--color-stop: #f12c06;
	--color-bot: #faed34;
}
#home {
	width: 100%;
	height: calc(100vh - 7rem);
	position: relative;
	display: grid;
	place-content: center;
}

.home-background {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	filter: saturate(66%);
}

.home-content {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	overflow: clip;
}

.home-name {
	color: white;
}

.home-name:first-child {
	text-align: right;
}

.home-image {
	position: relative;
	aspect-ratio: 1/1;
	width: 500px;
	max-width: calc(100vw - 100px);

	border-radius: var(--border-radius);
}

.home-image img {
	aspect-ratio: 1/1;
	object-fit: cover;
}

.home-flowers {
	position: absolute;
	background-size: cover;
	display: block;
	z-index: 1;
	top: 50%;
	left: 50%;
	animation: flower_rotate 425s infinite linear;
	transform-origin: 50% 50%;
	margin: calc(-50%);
	width: calc(100%);
}
.home-profile {
	width: calc(100% - 100px);
	clip-path: circle(50% at 50% 50%);
	object-fit: cover;
	object-position: center calc(50% - 50px);
	margin: 50px;
}

@keyframes flower_rotate {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#couple {
	padding: 4rem 0;
}

.couple-header {
	max-width: 200px;
	margin: 0 auto 1rem;
}

.couple-grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow: clip;
	border-radius: var(--border-radius);
}

.couple-image {
	max-width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
}

.couple-content {
	background-color: rgb(232, 236, 248);
	padding: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.couple-content:last-of-type {
	text-align: right;
}

.couple-blurb {
	margin-top: 2rem;
	text-align: center;
	max-width: 60ch;
	margin: 2rem auto 0 auto;
}

#countdown {
	position: relative;
	width: 100%;
	min-height: 30vh;
	overflow: clip;
}

.countdown-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	filter: grayscale(38%) brightness(52%) saturate(76%);
}
.countdown-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	color: white;
	padding: 2rem;
}
.countdown-content h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}
.countdown-header {
	max-width: 150px;
	margin-bottom: 3rem;
}

.countdown-clock {
	/* display: grid;
		grid-template-columns: repeat(10, 1ch);
		place-content: center;
		height: 100vh; */

	padding-top: 5rem;
	/* display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 1rem;

	font-family: 'dancing script', cursive;

	--size: 3rem;
	font-size: var(--size);
}
.digit-wrapper {
	display: flex;
	flex-direction: column;
	overflow: clip;
	height: var(--size);
}
.digit-label {
	display: flex;
	align-items: center;
}
.digit {
	font-size: var(--size);
	line-height: var(--size);
	transition: transform 0.69s ease-out;
}
.digit-numbers {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.digit-noun {
	font-size: 0.5em;
	line-height: 0.5em;
}
.digit-wrapper[data-index='0'] .digit {
	transform: translateY(0);
}

.digit-wrapper[data-index='1'] .digit {
	transform: translateY(calc(-1 * var(--size)));
}

.digit-wrapper[data-index='2'] .digit {
	transform: translateY(calc(-2 * var(--size)));
}

.digit-wrapper[data-index='3'] .digit {
	transform: translateY(calc(-3 * var(--size)));
}

.digit-wrapper[data-index='4'] .digit {
	transform: translateY(calc(-4 * var(--size)));
}

.digit-wrapper[data-index='5'] .digit {
	transform: translateY(calc(-5 * var(--size)));
}

.digit-wrapper[data-index='6'] .digit {
	transform: translateY(calc(-6 * var(--size)));
}

.digit-wrapper[data-index='7'] .digit {
	transform: translateY(calc(-7 * var(--size)));
}

.digit-wrapper[data-index='8'] .digit {
	transform: translateY(calc(-8 * var(--size)));
}

.digit-wrapper[data-index='9'] .digit {
	transform: translateY(calc(-9 * var(--size)));
}

/* #wedding {
	width: min(90%, 1200px);
} */

.wedding-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0 0;
}

.wedding-blurb {
	max-width: 60ch;
	text-align: center;
	margin-top: 2rem;
	margin-bottom: 5rem;
}

.wedding-banner {
	display: flex;
	justify-content: space-around;
	gap: 2rem;
	padding: 0.5rem 4rem;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-bottom: 2rem;
}

#wedding a {
	color: black;
	text-decoration: none;
}

#wedding a:hover {
	text-decoration: underline;
}

.banner-divider {
	border-left: 1px solid black;
}

.wedding-info {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 3rem;
}

.wedding-info-left {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#wedding-map {
	/* background-color: white;
	padding: 1rem; */
	border: none;
	border-radius: var(--border-radius);
}

.wedding-venue {
	max-width: min(100%, 300px);
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: right;
	clip-path: circle(50% at 50% 50%);
	margin-bottom: 1rem;
}

.wedding-venue + h3 + * {
	margin-bottom: 3rem;
}

.itinerary {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	grid-column: span 2;
}

.itinerary-title {
	padding: 0.3rem;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 50%;
	text-align: center;
	margin-bottom: 1rem;
}

.itinerary-title img {
	display: inline;
}

.itinerary-row {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

#faq {
	/* display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 1rem; */
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 4rem;
	padding: 4rem 0;
}

#faq h1 {
	text-align: center;
}

details {
	box-sizing: initial;
	/* border-top: 1pt solid black;
	border-bottom: 1px solid black; */
	box-shadow: 0 -1px 0 black, 0 1px 0 black;
	/* border-radius: var(--border-radius); */
}

details:hover {
	box-shadow: 0 -2px 0 black, 0 2px 0 black;
}

details .content {
	margin: 0 1rem 1rem 1rem;
	padding: 0 1rem 0 1rem;
	border-left: 1px solid black;
}

details .content p {
	margin-bottom: 0.5rem;
}

summary {
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	cursor: pointer;
	padding: 1rem;
}

summary img {
	transition: transform 0.1s ease-out;
	user-select: none;
}

details[open] summary img {
	transform: rotate(90deg);
}

.accordion {
	/* transition: 0.4s; */
}

#rsvp {
	width: 100%;
	height: auto;
	position: relative;
	overflow: clip;
	padding: 4rem 0;
}

.rsvp-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	filter: grayscale(38%) brightness(82%) saturate(76%);
}

.rsvp-header {
	max-width: 200px;
	grid-column: 2 span;
	margin: 0 auto;
}

.rsvp-content {
	/* color: white; */
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.rsvp-form {
	backdrop-filter: blur(5px);
	background-color: rgba(34, 34, 34, 0.5);
	padding: 3rem;
	border-radius: var(--border-radius);
	width: min(100%, 700px);
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 2rem 1rem;
}

.rsvp-form input,
.rsvp-form textarea {
	background-color: transparent;
	border: 2px solid white;
	border-radius: var(--border-radius);
	width: 100%;
	color: white;
}

.input-container {
	position: relative;
}
.rsvp-label {
	left: calc(2px + 1ch);
	top: 1rem;
	transform: translate(0, -50%);
	pointer-events: none;
	position: absolute;
	transform-origin: 0 50%;
	transition: 200ms, color 200ms;
	color: white;
	/* top: 20px; */
}
.rsvp-input:focus ~ .rsvp-label,
.rsvp-input:not(:placeholder-shown) ~ .rsvp-label {
	/* color: pink; */
	top: 0;
	left: 0;
	transform: translateY(-75%) translateX(0px) scale(0.85);
	/* background-color: rgba(255, 255, 255); */
	padding: 0.5ch;
}

.rsvp-input:focus ~ .rsvp-label {
	/* background-color: pink; */
}

.rsvp-form button {
	grid-column: span 2;
}

.engagement-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
}
.engagement-content h1 {
	margin-bottom: 4rem;
}
.engagement-content h2 {
	text-align: center;
}

.engagement-block {
	display: grid;
	grid-template-columns: 1fr auto 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.engagement-block > .engagement-text:first-child {
	text-align: right;
}
.engagement-divider {
	position: relative;
	height: 100%;
}
.engagement-divider:after {
	content: '';
	width: 100%;
	height: calc(100% - 4px);
	position: absolute;
	z-index: -1;
	top: 3px;
	bottom: 0;
	left: calc(50% - 1px);
	border-left: 2px dotted #aaa;
}

.engagement-image {
	max-width: 100%;
	height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: var(--border-radius);
}

#photos {
	width: 100%;
	overflow: clip;
}

.photo-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;

	filter: grayscale(38%) brightness(82%) saturate(76%);
}

.photo-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	color: white;
}

.photo-content h1 {
	margin-bottom: 2rem;
}

.photo-blurb {
	max-width: 60ch;
	text-align: center;
	margin-bottom: 1rem;
}

@supports (animation-timeline: view()) {
	.photo-blurb p {
		color: hsl(0 0% 100% / 0.2);
		background-image: linear-gradient(white, white);
	}
}
.bridal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 0;
	text-align: center;
}

.bridal-row {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

.bridal-block {
	margin: 2rem;
}

.bridal-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1rem;
	border-radius: var(--border-radius);
	background-color: #e8ecf8;
	backdrop-filter: blur(5px);
	text-align: center;
}

.bridal-card img {
	width: 100%;
	max-width: 100%;
	height: 100%;
	max-height: 100%;
	aspect-ratio: 1/1;
	object-fit: cover;
	border-radius: var(--border-radius);
}

footer {
	position: relative;
	width: 100%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1rem 0;
	overflow: clip;
}

.footer-background {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 150%;
	height: 100%;
	object-fit: cover;
	object-position: center calc(50% - 30px);

	filter: grayscale(38%) brightness(82%) saturate(76%);
}

.footer-header {
	max-width: 200px;
	margin: 0 auto 1rem;
}

.footer-link {
	text-decoration: none;
	color: white;
	backdrop-filter: blur(5px);
	background-color: rgba(34, 34, 34, 0.5);
	padding: 0.5rem 1rem;
	border-radius: var(--border-radius);
}

.footer-link a {
	color: white;
	text-decoration: none;
}
.footer-link a:hover {
	text-decoration: underline;
}

.mobile-toggle,
.mobile-toggle-label {
	display: none;
}

.small-show {
	display: none;
}

/* max width 800px */
@media screen and (max-width: 800px) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font-size: 2rem;
		text-align: center;
	}
	section {
		scroll-margin-top: 0;
	}
	.small-show {
		display: block;
	}
	.countdown-clock {
		--size: 2rem;
	}
	#wedding-map {
		display: none;
	}
	.home-content {
		flex-direction: column;
		gap: 3rem;
	}
	.home-name {
		text-align: center;
		order: -1;
	}
	.home-name:first-child {
		text-align: center;
	}
	.home-image {
		width: 100%;
		max-width: 300px;
	}
	.couple-grid {
		grid-template-columns: 1fr;
	}
	.couple-content {
		text-align: center;
	}
	.couple-content:last-of-type {
		text-align: center;
		order: 1;
	}
	.couple-blurb {
		margin: 2rem auto 0 auto;
	}
	.countdown-clock {
		width: 100%;
		font-size: 2.5rem;
	}
	.countdown-content h1 {
		text-align: center;
	}
	.wedding-banner {
		gap: 0;
		padding: 0;
		flex-direction: column;
		align-items: center;
	}
	.wedding-info {
		grid-template-columns: 1fr;
		gap: 0;
	}
	.wedding-venue {
		width: 100%;
		aspect-ratio: 1/1;
		object-fit: cover;
		object-position: center;
		margin-bottom: 1rem;
	}
	.wedding-info-left {
		text-align: center;
	}
	.itinerary {
		width: 100%;
	}
	.itinerary-row {
		width: 100%;
	}
	.itinerary-title {
		width: 100%;
	}
	.rsvp-form {
		display: block;
		padding: 1rem 0.5rem;
	}

	.rsvp-form * {
		margin: 0.5rem 0;
	}
	.rsvp-header {
		margin: 0 auto 1rem;
	}

	.rsvp-form button {
		width: 100%;
	}
	.engagement-block {
		grid-template-columns: 1fr;
	}
	.engagement-block .engagement-text {
		text-align: center !important;
	}
	.engagement-block:nth-child(even) .engagement-text {
		order: -1;
	}
	.engagement-divider {
		display: none;
	}
	.photo-blurb {
		margin: 2rem auto 1rem;
		padding: 0 2rem;
	}
	.bridal-row {
		grid-template-columns: 1fr;
	}
	.bridal-block {
		margin: 1rem;
	}

	.header-image {
		order: -1;
		/* display: none; */
	}
	header nav ul {
		flex-direction: column;
		gap: 1rem;
	}
	header nav ul {
		position: fixed;
		top: 0;
		left: -100%;
		height: 100vh;
		width: 100vw;
		background-color: rgba(255, 255, 255, 0.9);
		transition: left 0.1s;
	}
	header nav ul li {
		font-size: 1.2rem;
	}
	.mobile-menu {
		position: fixed;
		top: 0;
		right: 0;
		padding: 1rem;
		z-index: 2;
	}
	.mobile-menu img {
		width: 30px;
		scale: -1 1;
	}
	.mobile-toggle,
	.mobile-toggle-label {
		display: block;
		position: fixed;
		top: 0;
		left: 0;
		margin: 1rem;
		z-index: 2;
	}
	.mobile-toggle {
		display: none;
	}
	.mobile-toggle-label {
		user-select: none;
	}
	.mobile-toggle-label {
		cursor: pointer;
		background-image: url('/public/images/menu.svg');
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: calc(50% + 12px) calc(50% + 12px);
		width: 30px;
		height: 30px;
		z-index: 2;
		top: -50px;
		left: -50px;
		width: 100px;
		height: 100px;
		background-color: white;
		border-radius: 100%;
		/* z-index: -1; */
		/* box shadow */
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
	.mobile-toggle:checked ~ .mobile-toggle-label {
		background-image: url('/public/images/menu-close.svg');
	}
	.mobile-toggle:checked ~ ul {
		left: 0;
	}
}
